body {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
}

.a {
    width: 100%;
    height: 25%;
    background: #51ff00;
}

.bf {
    display: flex;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    border-top: 5px solid white;
}

.bc {
    width: 75%;
    height: 100%;
    border-right: 5px solid white;
    box-sizing: border-box;
}

.ce {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-top: 5px solid white;
    display: flex;
    justify-content: space-between;
}

.b {
    width: 100%;
    height: 50%;
    background: #590d60;
}

.c {
    width: 33%;
    height: 100%;
    background: #690477;
}

.f {
    width: 25%;
    height: 100%;
    background: blueviolet;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .bf {
        flex-direction: column;
    }

    .bc {
        width: 100%;
        border-right: 0;
    }


    .f {
        width: 100%;
        height: 50%;
        border-top: 5px solid white;
    }
}