body {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.a {
    width: 100%;
    height: 25%;
    background: #590d60;
    box-sizing: border-box;

}

.bc {
    display: flex;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    border-top: 5px solid white;
}

.b {
    width: 75%;
    height: 100%;
    background: #51ff00;
    border-right: 5px solid white;
}

.c {
    width: 25%;
    height: 100%;
    background: blue;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .bc {
        flex-direction: column;
    }

    .b {
        width: 100%;
        border-right: 0;
    }

    .c {
        width: 100%;
        height: 50%;
        border-top: 5px solid white;
    }
}