.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hide {
    width: 500px;
    height: 50px;
    background: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.middle {
    width: 500px;
    height: 200px;
    background: #282844;
}


.bot {
    width: 500px;
    height: 100px;
    background: silver;
    position: relative;
}

.block {
    width: 100px;
    height: 100px;
    background: #bc3cc5;
    border-radius: 10px;
    margin: 0 5px;
}

.blockmain {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
}

.icon {
    font-size: 25px;
    position: relative;
    right: 50px;
}

.block2 {
    width: 75px;
    height: 25px;
    background: #282844;
    border-radius: 5px;
    position: relative;
    left: 50px;

}