h1 {
    background: #3a0101;
    color: #b2fcfc;
}
h2 {
    background: #ff2dfb;
    color: #000028;
}
p {
    background: #690477;
    color: #51ff00;
}
ul  {
    background: #271a57;
    color: aqua;
}