body {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
}

.a {
    width: 100%;
    height: 25%;
    background: #51ff00;
}

.bh {
    display: flex;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    border-top: 5px solid white;
}

.bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    height: 100%;
    border-right: 5px solid white;
    box-sizing: border-box;
}

.b {
    width: 33%;
    height: 49%;
    background: pink;
}

.h {
    width: 25%;
    height: 100%;
    background: #45f3f3;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .bh {
        flex-direction: column;
    }

    .bg {
        width: 100%;
        height: 60%;
        border-right: 0;
    }


    .h {
        width: 100%;
        height: 50%;
        border-top: 5px solid white;
    }
}